
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.banner_img{
    width: 100%;
    height:60%;
    object-fit: cover;
}


.flexbox_addrecord{
    background-image: url('https://github.com/ananupam/Bahi-Khata/blob/main/frontend/src/Images/mainImg.png?raw=true');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center; 
    height: 90%;
    width: 60%;
    padding-left: 42%;
    
}

.flexbox_addrecord{
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.addRecord_formContainer Button{
    margin-top: 5%;
    background: #545454;
    font-size: 15px;
    padding: 6%;
}

.appendRecordBtn{
    padding-left: 76%;
    font-size: 15px;
    padding-right: 10%;
}

.RecordBook_table table{
    width:80%;
    padding-left: 15%;
    font-size: 16px;
    margin-bottom: 20px;
    
}

.RecordBook_table th,td{
    text-align: left;
    padding-left: 2%;
    
}

.RecordBook_table th{
    background: grey;
    padding: 10px;
    padding-left: 2%;
    font-size: 20px;
    width: 25%;
    color: white;
    font-weight: 300;
}
.RecordBook_table td {
    text-align: left;
    
    
  }

.deleteRecord Button{
    padding: 8px;
    font-size: 12px;
    background: rgb(119, 110, 110);
    
    color: white;
}

.editRecord Button{
    padding: 8px;
    font-size: 12px;
    margin-right: 8px;
    margin-left: 20px;
    background: #d1e3b1;
    color: rgb(119, 110, 110);
}

.PayRecordForm{
    padding-left: 15%;
    
}

.PayRecordForm Button{
    
    padding: 8px;
    font-size: 15px;
    background: rgb(119, 110, 110);
    color: white;
    margin-left: 2%;
}

.PayRecordForm input{
    font-size: 15px;
    padding: 1%;
}

.filterContainer Button{

    font-size: 12px;
    border: 1px solid rgb(119, 110, 110);
    background-color: white;
    color: rgb(119, 110, 110);
    margin-top: 18px;
}

.filterContainer{
    margin-left: 44%;
}

.btn10{
    visibility: hidden;
}

.tfoot_smellysocks{
    background: grey;
    padding: 10px;
    padding-left: 2%;
    font-size: 20px;
    width: 25%;
    color: white;
    font-weight: 300;
}
